.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:959px) {
  .main {
    display     : block !important;
    /* padding-left: unset !important; */
  }
 
}
@media only screen and (max-width:1100px){
  .btns{
    outline: unset;

  }
  .dt1{
    margin-top: 20px;

  }
  .btn{
      /* // display: 'flex', */
      /* // justifyContent: "space-around" */
      margin:10px auto;

  }
}
input[type="date"]:focus {
  outline: unset;
}
.btns {
  outline: unset;
}
@media screen and (min-width:600px) and (max-width:1100px) {
  p.dt1 {
    width: 50%;
    margin-left: 24%;
}  
}
@media screen and (min-width:1200px)  {
  .dt1 {
    margin: 20px;
}
}
@media screen and (min-width:1101px){
  .main{
  margin:10px auto;
}
}
